/* Write your global styles here, in PostCSS syntax */
@font-face {
	/* Reference name */
	font-family: 'Abril Fatface';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/AbrilFatface-Regular.ttf');
}

:root {
	--theme-font-family-base: 'Abril Fatface', sans-serif;
	--theme-font-family-heading: 'Abril Fatface', sans-serif;
	/* ... */
}

html, body { @apply h-full overflow-hidden; }